body {
    font-family: helvetica, arial, sans-serif;
    font-size: 85%;
}
header {
    display: flex;
    margin: 0 0 30px;
    height: 84px;
    line-height: 84px;
    background-color: #fafafa;

    #logo,
    h1 {
        width: 50%;
    }

    h1 {
        margin: 0;
        text-align: right;
    }
    #logo {
        margin: 27px 0;
        a {
            display: block;
            width: 140px;
            height: 30px;
            background: transparent url(https://1tfjk943psnry9sza3ht2oy1-wpengine.netdna-ssl.com/wp-content/themes/talkdesk/images/logo-dark.svg) 0 0 no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            text-decoration: none;
            color: #000;
        }
    }
}
fieldset,
legend {
    background-color: #efefef;
    border: none;
}
fieldset {
    margin-bottom: 20px;
}
legend {
    padding: 5px 15px 10px;
}
table {
    th {
        text-align: left;
    }
    td {
        vertical-align: top;
    }
    .color {
        padding: 4px 8px;
        font-weight: bold;
        color: #fff;

        &.invalid {
            background-color: darkred;
        }
        &.valid {
            background-color: darkgreen;
        }
    }
    span {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 4px 8px;
        background-color: #ccc;
        border-radius: 4px;
    }
}
